*
  box-sizing border-box
  margin 0
  padding 0
  border 0
  outline 0
  background transparent
  font-size 100%
  vertical-align baseline
  font-family 'Open Sans', sans-serif

html, body
  min-height 100vh
  font-size 14px
  line-height 1.2em
  color #867968

ol, ul
  list-style none

img
  max-width 100%
  height auto
  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

a
  color inherit
  text-decoration none

.hr
  display: table
  width: 100%
  height: 2px
  background-color: #dcc8b2
  margin: 15px 0

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.page
    background-color: #F1F1F1
    min-height: 100vh
    padding: 20px 20px 100px
.line
  display: table
  width: 100%
  border-top: solid 1px #aaaaaa
  border-bottom: solid 2px white
h2#swal2-title
  line-height: 1.2em
  font-size: 24px
.swal2-icon
  margin-bottom: -16px !important
div#swal2-html-container
  margin-top: -12px